<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:i18n="http://genshi.edgewall.org/i18n">

  <form class="addnew" method="post">
    <fieldset>
      <legend>Modification of repository $repository.reponame</legend>
      ${main_repository_fields(new, '', False)}
      <input type="submit" name="modify" value="${_('Modify Repository')}" />
      <input type="submit" name="cancel" value="${_('Cancel')}" />
    </fieldset>
  </form>

</div>
