<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:i18n="http://genshi.edgewall.org/i18n">

  <form class="addnew" method="post">
    <fieldset>
      <legend>Fork Local Repository:</legend>
      <div>
        ${optional_dropdown_list("Origin", "local_origin", local_fork.origin, forkable_repositories)}
      </div>
      ${main_repository_fields(local_fork, 'local_', False)}
      <input type="submit" name="fork_local" value="${_('Create Forked Repository')}" />
      <p class="help">
        Fork an existing repository within this Trac instance.
      </p>
    </fieldset>
  </form>

</div>
