<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:i18n="http://genshi.edgewall.org/i18n">

  <form py:if="not restrict_modifications" class="addnew" method="post">
    <fieldset>
      <legend>Modify ${repository.type.upper()} Repository</legend>
      ${main_repository_fields(new, '', False)}
      <input type="submit" name="modify" value="${_('Modify Repository')}" />
      <input type="submit" name="cancel" value="${_('Cancel')}" />
    </fieldset>
  </form>

  <py:def function="selectable_list(list, anonymous, users, groups, name, readers=False)">
    <div>
      <select size="1" name="$name">
        <option></option>
        <option py:if="anonymous" value="anonymous">anonymous</option>
        <option py:if="anonymous" value="authenticated">authenticated</option>
        <optgroup py:if="users" label="Users">
          <option py:for="user in sorted(users)" value="$user">$user</option>
        </optgroup>
        <optgroup py:if="groups" label="Groups">
          <option py:for="group in sorted(groups)" value="@$group">$group</option>
        </optgroup>
      </select>
      <input type="submit" name="add_role_$name" value="${_('Add')}" />
      <py:if test="readers and repository.is_fork">
        Inherit readers from origin's maintainers:
        <label><input type="radio" name="inherit_readers" value="1" checked="${new.inherit_readers or None}" onclick="submit('foo')"/>Yes</label>
        <label><input type="radio" name="inherit_readers" value="0" checked="${not new.inherit_readers or None}" onclick="submit('foo')"/>No</label>
      </py:if>
    </div>
    <py:choose test="readers and repository.inherit_readers">
      <label py:when="True" py:for="item in sorted(list | repository.origin.maintainers)"
             py:with="disabled = item == repository.owner or not item in list">
        <span py:strip="item in list" title="Inherited from origin's maintainers">
          <input type="checkbox" name="selection" value="${'%s:%s' % (unicode_to_base64(name), unicode_to_base64(item))}" disabled="${disabled or None}" />
          $item<br />
        </span>
    </label>
    <label py:otherwise="" py:for="item in sorted(list)">
      <span py:strip="item != repository.owner" title="Repository owner">
        <input type="checkbox" name="selection" value="${'%s:%s' % (unicode_to_base64(name), unicode_to_base64(item))}" disabled="${item == repository.owner or None}" />
        $item<br />
      </span>
    </label>
    </py:choose>
  </py:def>

  <form method="post">
    <h2>Permissions</h2>
    <table class="listing">
      <thead>
        <tr><th py:if="repository.is_forkable">Maintainers</th><th>Read+Write</th><th>Read only</th></tr>
      </thead>
      <tbody>
        <tr>
          <td py:if="repository.is_forkable">
            ${selectable_list(repository.maintainers, False, possible_maintainers, None, 'maintainer')}
          </td>
          <td>
            ${selectable_list(repository.writers | set([repository.owner]), True, users, groups, 'writer')}
          </td>
          <td>
            ${selectable_list(repository.readers | set([repository.owner]), True, users, groups, 'reader', True)}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="buttons">
      <input type="submit" name="revoke" value="${_('Remove selected items')}" />
    </div>
  </form>

</div>
